<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
      <% @users.each do |user| %>
        <div class="users-index-item">
          <div class="user-left">
            <% if user.image_name.present? %>
              <img src="<%= "/user_images/#{user.image_name}" %>">
            <% else %>
              <img src="<%= "/user_images/noimage.png" %>">
            <% end %>  
          </div>
          <div class="user-right">
            <%= link_to(user.name, "/users/#{user.id}")  %>
          </div>
        </div>
      <% end %>
  </div>
</div>


